body
{
	margin:0;
    font-family: Impact, "Arial Black", Arial, Verdana, sans-serif;
}

h1
{
	text-align: center;
	font-size: 40px;
	border: 5px solid black;
	margin-border: 100px;
}

.todolist
{
	display: flex;
	justify-content: space-between;
    width: 500px;
    margin: 0px 150px 0px 150px;

}

h4
{
	font-size: 20px;
}

h5
{
	font-size: 20px;
	color: yellow;
}
